fastapi==0.135.2
uvicorn==0.42.0
SQLAlchemy==2.0.48
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.22
bcrypt==3.2.2
pandas==3.0.1
numpy==2.4.3
openpyxl==3.1.5
python-dateutil==2.9.0.post0
python-multipart==0.0.22
anyio==4.13.0
pydantic==2.12.5
pydantic_core==2.41.5
typing_extensions==4.15.0
email-validator==2.2.0
psycopg2-binary==2.9.10
